<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Questions</th>
                        <th>Active</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let quiz of list$ | async">
                            <td>{{quiz.id}}</td>
                            <td>{{quiz.title}}</td>
                            <td>{{quiz.description}}</td>
                            <td>{{quiz.questions}}</td>
                            <td>{{quiz.active}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>